* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   
font-family: 'HKGrotesk', sans-serif;
 font-weight: 400;
    width: 1440px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.section-1 {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #E273B6;

}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.main-text {
    font-size: 400px;
    font-weight: 500;
    color: #252525;
    margin: 0px 0px 0px 0px;
}

.sub-text {
    font-size: 370px;
    font-weight: 500;
    color: #252525;
    margin: 0px 0px 0px 0px;
}
.shapes {
    position: absolute;
    display: flex;
    font-weight: 400;
    width: 1440px;
    display: block;
    margin: 0 auto;
}

.shapes img {
    position: absolute;
    width: 290px;
    height: 290px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    gap: 8px;
}

.additional-info {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 10px;
    
}

.subheading {
    position: absolute;
    font-size: 32px;
    color: #1645BC;
    font-weight: 500;
}